/.settings/
/target/
/.classpath
/.idea
/.project
/.springBeans
/test-output/
/logs/
/trade43.log
/bin/
*.class
*.zip
*.log
*.pgsql
*.DS_Store
*.factorypath
*.jar
/docs/staruml/*.png
*.
/systemproperty
.sts*
.metadata/
/pacejavaspeakenigmatwoboot
.vscode/extensions.json
